astroid==2.4.2
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
flake8==3.8.3
idna==2.10
isort==5.5.3
jedi==0.17.2
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
MechanicalSoup==0.12.0
parso==0.7.1
pluggy==0.13.1
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylint==2.6.0
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
requests==2.24.0
rope==0.17.0
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
toml==0.10.1
ujson==3.2.0
urllib3==1.25.10
wrapt==1.12.1
yapf==0.30.0
